<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form >
    <div>
        <label>email:</label>
        <input id="email" type="email" name="email">
    </div>
    <div>
        <label>password:</label>
        <input id="password" type="password" name="password">
    </div>
    <div>
        <label>confirm password:</label>
        <input id="confirmPass" type="password" name="confirmPass">
    </div>
    <div>
        <button id="signup" type="button">SignUp</button>
    </div>
</form>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/signup.js"></script>
</body>
</html>